
@{
    ViewBag.Title = "Notice";
}
@model ZrSoft.Assist_Notice
<style type="text/css">
    .ti {
        text-align:center;
        margin-top:20px;
        width:100%;
        font-size:40px;
    }
    .sixx {
       float:right;
       font-size:15px;
       color:#808080; 
    }
    .contents {   
       font-size:18px;
       float:left;
       margin-left:5%;
       margin-right:5%;
       width:90%;
    }
</style>
<div id="info">
   
   <div class="ti"><label >@Model.title</label><br /></div>
    <div class="sixx">
    <label>@Model.AdminId &nbsp</labe>
    <label>@string.Format("{0:yyyy-MM-dd}",Model.Pubdate) &nbsp&nbsp</label>
    </div><br />
    <div class="contents">@Html.Raw(Model.contents)</div>
    
</div>


