@{
    Layout = "~/Views/Shared/_Index_Create.cshtml";
}
@model  ZrSoft.Sys_Admin
<script src="~/lib/angular.js"></script>
<script>
    var myApp = angular.module("Create", []);
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form()
        , layer = layui.layer;
        //监听提交
        form.on('submit(Accept)', function (data) {
            var json = data.field;
            if (json.NewPassword != json.ConfirmPassword)
            {
                layer.msg("两次密码不一致");
                return false;
            }
            $.ajax({
                url: "@Url.Action("Password")",
                type: "Post",
                data: json,
                dataType: "json",
                success: function (data) {
                    window.parent.callBack(data);
                }
            });
            return false;
        });

    });
    var myApp = angular.module("Create", [])
    //CreateSelect("Create", "RoleController", "/sys/role/GetAllList");
    $(document).ready(function () {
    });

</script>
<style>
    form {
    /* max-width: 500px; */
    padding-right: 15px;
    margin-top: 110px;
    margin-left: -25px;
}
</style>

<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">旧密码</label>
        <div class="layui-input-block">
             <input type="password" name="OldPassword" value="" lay-verify="required" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
             <input type="password" name="NewPassword" value="" lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
        </div>
    </div>
  
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-block">
            <input type="password" name="ConfirmPassword" value="" lay-verify="required" placeholder="确认密码" autocomplete="off" class="layui-input">
        </div>
    </div>


   
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="Accept">@Resource.lang.Accept</button>
            <button type="reset" class="layui-btn layui-btn-primary">@Resource.lang.Reset</button>
        </div>
    </div>
</form>
