@{
    ViewBag.Title = "NoPower";
    Layout = null;
}

<html>
<body style="background-image: url(/content/images/nopower.png); background-position: top center ; background-repeat: no-repeat">
</body>
</html>
